<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="layout/main.html :: head"></div>
</head>
<body>
<div th:insert="layout/main.html :: navbar"></div>
<div class="row mt-5">
    <div class="col-6 offset-3">

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>AMOUNT</th>
                <th>DETAILS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "it : ${tovary}">
                <td th:text = "${it.getId()}"></td>
                <td th:text = "${it.getName()}"></td>
                <td th:text = "${it.getPrice()}"></td>
                <td th:text = "${it.getAmount()}"></td>
                <td><a th:href="@{'/details?id=' + ${it.id}}"  class="btn btn-info btn-sm">DETAILS</a></td>
            </tr>
            </tbody>

        </table>

    </div>
</div>
</body>
</html>
